p{
    font-family: Montserrat;
    text-align: center;
}

.head{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.next{
    margin-top: 10px;
}

.under{
    text-decoration: underline;
}