        .thumbnail {
        width: 100%;
      }

      
      .video-title{
        margin-top: 0px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

      .video-author, 
      .video-stats{
        font-size: 12px;
        color: rgb(96, 96, 96);
      }
      
      .video-author{
        margin-bottom: 4px;
      }

      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .profile{
        width: 36px;
        border-radius: 50%;
      }
      
      .thumbnail-row{
        margin-bottom: 8px;
        position: relative;
      }

      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
      }

      .video-time{
        font-family: Roboto, Arial;
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 2px;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 8px;
        right: 5px;
      }
    
      .profile-pop-container {
        display: inline-block;
        position: relative;
      }

      .channel-tooltip {
        position: absolute;
        top: 50px;
        left: 0;
        width: 200px;
        padding: 12px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        z-index: 300;

        /* Hide by default */
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.15s;
      }

      /* Reveal tooltip on hover */
      .profile-pop-container:hover .channel-tooltip {
        opacity: 1;
      }

      .channel-tooltip-picture {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-right: 10px;
      }

      .channel-tooltip-name {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 2px;
      }

      .channel-tooltip-stats {
        color: rgb(90, 90, 90);
        font-size: 12px;
      }

            